.buttonActive.active {
  color: #F97924;
}

.global{
  overflow: auto;
}
/*todo fix the sidenav scrolling with the content issue*/
.banner-color{
  color: #ffc86e;
  transform: rotate(3deg) translateY(25%);
  text-align: center;

}
h1{
  font-family: "laffayette_comic_proregular",sans-serif !important;
}
.skew-nav{
  /*skew the side nav to give it an angle*/
  transform: skew(3deg) !important;
  right: -5% !important;
  background-color: #11111f !important;
  width: 30% !important;
  position: fixed !important;
  padding: 30px 5% 10px 20px;
}
