


<md-sidenav-container>
  <md-sidenav align="end" mode="side" opened="true" class="skew-nav">
    <div>
      <h1 class="banner-color">Logicode</h1>
      <h1 class="sub-heading">Musings of a struggling developer and other stuff..</h1>
      <img src="../../assets/LogicodeSticker.png" height="360" width="360"/>
    </div>
    <div *ngFor="let button of navButtons" class="container">
      <md-card fxFlex="25">

      </md-card>
    </div>
  </md-sidenav>
  <!--including t
    uter for nav between the templates-->
  <router-outlet class="global"></router-outlet>
</md-sidenav-container>



