



<div          fxLayout="column"
              fxFlex>
  <div *ngFor="let post of posts" fxFlex class="container">

    <md-card>
      <md-card-header>
        <md-card-title [innerHTML]="post.title.rendered | keepHtml" ></md-card-title>
        <!--<md-card-subtitle>Dog Breed</md-card-subtitle>-->
      </md-card-header>
      <img *ngIf="post.acf && post.acf.feature_image" md-card-image [src]="post.acf.feature_image">

      <div *ngIf="post.acf.youtube_imbed && !post.acf.feature_image" md-card-image [innerHTML]="post.acf.youtube_imbed | keepHtml"></div>

      <!--<img md-card-image src="assets/img/examples/shiba2.jpg">-->
      <md-card-content >

        <p [innerHTML]="post.excerpt.rendered | keepHtml">
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-raised-button (click)="singlePost(post.id)">Read More</button>
      </md-card-actions>
    </md-card>
  </div>
</div>
